{% extends 'base.html.twig' %}

{% block title %}Modifier un trajet{{ parent() }}{% endblock %}

{% block body %}
    <main class="profil">
        <h1>Modifier un trajet</h1>

        <a href="{{ path('app_profil_trajets') }}" class="annuler">Annuler la modification</a>

        <div class="conteneur">
            <section class="navigation">
                <nav>
                    <ul>
                        <li><a href="{{ path('app_profil') }}">Mes informations</a></li>
                        <li><a href="{{ path('app_profil_trajets') }}">Mes trajets</a></li>
                        <li><a href="{{ path('app_profil_reservations') }}">Mes réservations</a></li>
                        <li><a href="{{ path('app_logout') }}" class="deconnexion">Se déconnecter</a></li>
                    </ul>
                </nav>
            </section>

            <section class="informations">
                <div class="centre row">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        
                        <button type="submit">Enregistrer</button>
                    {{ form_end(form) }}

                    {% if trajet.reservations is not empty %}
                        <div class="liste">
                            {% if trajet.reservations|length > 1 %}
                                <h2>Réservations correspondantes</h2>
                            {% else %}
                                <h2>Réservation correspondante</h2>
                            {% endif %}

                            <ul>
                                {% for reservation in trajet.reservations %}
                                    {% if reservation.siegesReserves > 1 %}
                                        <li>{{ reservation.utilisateur.prenom }} {{ reservation.utilisateur.nomDeFamille }} | {{ reservation.siegesReserves }} sièges</li>
                                    {% else %}
                                        <li>{{ reservation.utilisateur.prenom }} {{ reservation.utilisateur.nomDeFamille }} | {{ reservation.siegesReserves }} siège</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            {% set siegesReserves = 0 %}

                            {% for reservation in trajet.reservations %}
                                {% set siegesReserves = siegesReserves + reservation.siegesReserves %}
                            {% endfor %}

                            <p>Sièges réservés : {{ siegesReserves }}</p>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
