{% set sans_footer = ['app_login', 'app_register'] %}

{% if app.request.attributes.get('_route') not in sans_footer %}
    <footer>
        <div class="conteneur">
            <div class="logotype">
                <img src="{{ asset('images/logotype-noir.svg') }}" alt="Logotype Agence Dewey">
            </div>

            <div class="pages">
                <ul>
                    <li><a href="{{ path('app_accueil') }}#creer-un-trajet">Créer un trajet</a></li>
                    <li><a href="{{ path('app_accueil') }}#voir-les-trajets-disponibles">Voir les trajets disponibles</a></li>

                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('app_profil') }}">Mon profil</a></li>
                    {% else %}
                        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}
                </ul>

                <ul>
                    <li><a href="{{ path('app_mentions_legales') }}">Mentions légales</a></li>
                    <li><a href="{{ path('app_politique_de_confidentialite') }}">Politique de confidentialité</a></li>
                </ul>
            </div>
        </div>

        <div class="credit">
            <p>Site développé par Irving Cazaban</p>
        </div>
    </footer>
{% endif %}
