{% extends 'base.html.twig' %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block body %}
    <main class="accueil">
        <section class="banniere">
            <h1>Dewey Connect<br>Des trajets partagés, des liens renforcés</h1>

            <div><img src="{{ asset('images/banniere.jpg') }}" alt="Image de fond"></div>
        </section>

        <section id="creer-un-trajet">
            <h2>Créer un trajet</h2>

            {{ form_start(form) }}
                {{ form_widget(form) }}

                {% if is_granted('ROLE_USER') %}
                    <input type="hidden" name="utilisateur" value="{{ app.user.id }}">
                    
                    <button type="submit">Créer le trajet</button>
                {% else %}
                    <button type="submit">Créer le trajet</button>
                {% endif %}
            {{ form_end(form) }}
        </section>

        <section class="texte-defilant">
            <div class="animation">
                <div class="textes">
                    <p>DEWEY CONNECT</p>
                    <p>DEWEY CONNECT</p>
                    <p>DEWEY CONNECT</p>
                    <p>DEWEY CONNECT</p>
                    <p>DEWEY CONNECT</p>
                    <p>DEWEY CONNECT</p>
                    <p>DEWEY CONNECT</p>
                    <p>DEWEY CONNECT</p>
                    <p>DEWEY CONNECT</p>
                    <p>DEWEY CONNECT</p>
                </div>
            </div>
        </section>

        <section id="voir-les-trajets-disponibles">
            <div class="texte-defilant">
                <div class="animation">
                    <div class="textes">
                        <p>DEWEY CONNECT</p>
                        <p>DEWEY CONNECT</p>
                        <p>DEWEY CONNECT</p>
                        <p>DEWEY CONNECT</p>
                        <p>DEWEY CONNECT</p>
                        <p>DEWEY CONNECT</p>
                        <p>DEWEY CONNECT</p>
                        <p>DEWEY CONNECT</p>
                        <p>DEWEY CONNECT</p>
                        <p>DEWEY CONNECT</p>
                    </div>
                </div>
            </div>

            <div class="trajets">
                {% for trajet in trajets %}
                    <div class="trajet">
                        <div class="icone">
                            <img src="{{ asset('images/parcours.svg') }}" alt="Icône d'un parcours">

                            <div>
                                <p>{{ trajet.pointDeDepart }}</p>
                                <p>{{ trajet.destination }}</p>
                            </div>
                        </div>

                        <div class="icone">
                            <img src="{{ asset('images/volant.svg') }}" alt="Icône d'un utilisateur">
                            
                            <p>{{ trajet.utilisateur.prenom }} {{ trajet.utilisateur.nomDeFamille }}</p>
                        </div>

                        <div class="icone">
                            <img src="{{ asset('images/date-et-heure.svg') }}" alt="Icône d'un calendrier">

                            <p>{{ trajet.dateEtHeure|date('d/m/Y | H:i') }}</p>
                        </div>

                        <div class="icone">
                            <img src="{{ asset('images/sieges-libres.svg') }}" alt="Icône d'un passager">
                            
                            {% if trajet.siegesLibres > 1 %}
                                <p>Il reste encore {{ trajet.siegesLibres }} places</p>
                            {% elseif trajet.siegesLibres == 1 %}
                                <p>Il reste encore {{ trajet.siegesLibres }} place</p>
                            {% else %}
                                <p>Complet</p>
                            {% endif %}
                        </div>
                        {% if is_granted('ROLE_USER') %}
                            {% if trajet.siegesLibres >= 1 and trajet.utilisateur.id != app.user.id %}
                                <a href="{{ path('app_reservation', {'id': trajet.id}) }}"><button>Réserver</button></a>
                            {% else %}
                                <button class="invalide">Réserver</button>
                            {% endif %}
                        {% else %}
                            {% if trajet.siegesLibres >= 1 %}
                                <a href="{{ path('app_login', {'from': 'reservation'}) }}"><button type="button">Réserver</button></a>
                            {% else %}
                                <button class="invalide">Réserver</button>
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    <p class="vide">Aucun trajet disponible pour le moment.</p>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
