<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow">
        
        <title>{% block title %} | Dewey Connect{% endblock %}</title>

        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/burger.js') }}" defer></script>
            <script src="{{ asset('js/message.js') }}" defer></script>
        {% endblock %}
    </head>

    <body>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="message {{ type }}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}

        {% include 'navigation/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'navigation/footer.html.twig' %}
    </body>
</html>
